body, h1, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

#calculator {
  height: auto;
  width: 300px; /* Fixed width for consistency */
  margin: 50px auto;
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 0);
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 24px;
}

.js-calculation {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 45px;
  background-color: #000;
  border: none;
  text-align: right;
  overflow: hidden;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 60px;
  width: 60px;
  padding: 15px;
  font-size: 26px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 5px;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d0d0d0;
}

.btn:active {
  background-color: rgb(51, 51, 51);
}

.operator {
  background-color: #ff9500;
  color: #fff;
}

.operator:hover {
  background-color: #e08900;
}

.operator:active {
  background-color: rgb(254, 160, 10);
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-button {
  font-size: 17px;
}

@media (max-width: 768px) {
  #calculator {
    width: 90%; 
    max-width: 300px;
    margin: 20px auto;
  }
  .btn {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  #calculator {
    width: 95%; 
    padding: 10px;
      
  }
  .btn {
    width: 45px;
    height: 45px;
    font-size: 16px;
  }
}

